<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tailwind Profile Card Template : Tailwind Toolbox</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> 
  </head> 
  <body class=" bg-cover" style="background-image:url('https://i.postimg.cc/XYPnfmxd/IMG-5956-2.jpg');">
    <h1 class="text-3xl font-bold underline">
      Hello Worlda
    </h1>
  </body>
  
</html>
