<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tailwind Profile Card Template : Tailwind Toolbox</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> 
  </head> 

  
  <body class="bg-cover" style="background-image:url('https://i.postimg.cc/XYPnfmxd/IMG-5956-2.jpg');">

    <div class="mx-auto w-2/5">
      <div class="top-0 z-10 bg-gray-800 text-white p-4  rounded-b-3xl">
        <nav class="z-10 bg-blue-800 text-white p-4 flex justify-evenly rounded-3xl">
          <a class="text-white-500 hover:text-red-500 font-bold" href="https://www.youtube.com/channel/UC_CIf0b-GmphwaWyPIlC4Mg">Youtube</a>
          <a class="text-white-500 hover:text-black font-bold" href="https://github.com/MiguelCriollo">GitHub</a>
          <a class="text-white-500 hover:text-blue-500 font-bold" href="https://www.linkedin.com/">Linkedin</a>
        </nav>
      </div>
    </div>
    
    <div class=" mx-auto  w-2/5 border-solid border-2 mt-14 p-4 overflow-hidden bg-blue-300">
      <div class="overflow-hidden w-2/5 float-left  border-solid border-2 m-3">
        <p class="text-center font-bold text-2xl ">
          Miguel Angel
        </p>
        <p>p class="text-center font-bold text-2xl ">
          Criollo Vasquez 
        </p>
      <img src="https://i.postimg.cc/7LTW9fXV/image.png" class=" overflow-hidden w-full border-solid border-2 mt-0 ml-0 w-7/12 border-solid border-8 border-black rounded-b-3xl rounded-tr-3xl">
      </div>

      <p class="font-serif">
        <h2 class="font-bold">
          Conocimientos
        </h2>
        <ol class="font-serif">
          <li>Experiencia en programación orientada a objetos y en máquina de estados finitos.</li>
          <li>Creación y gestión de proyectos electrónicos, aplicaciones para ordenador, páginas web y bases de datos.</li>
          <li>Manejo de PyCharm, Java NetBeans, Arduino, Virtual Box, Aplicaciones de Microsoft Office, MySQL, LabView, AutoCAD.</li>
          <li>Mantenimiento de computadoras.</li>
          <li>Redacción de documentos en científicos en Látex</li>
        </ol>   
        <h2 class="font-bold font-serif ">
          Experiencia Laboral
        </h2>
          
          <p class="text-justify font-serif">
            Empresa Eléctrica Regional Centro sur C.A. (Departamento de SIGADE)<br>
            08/07/2019- 02/08/2019 - Formación en Centros de Trabajo <br>
            <br>
            Gestión de Archivos de Contratos de trabajo y de Actas de Aprobación de Proyectos
            Gestión de datos del alumbrado publico en la plataforma ArcGis (Subdepartamento de Sistemas de información geográfica de Distribución)
            Creación e instalación de una Aplicación (Desarrollada en Java Netbeans) para el Registro de Contratos, usando como base de datos Microsoft Access (Realizado para el Subdepartamento de gestión de Proyectos)
          </p>
      </p>
    </div>
  </body>
  
</html>
